body {
    font-family: Arial, sans-serif;
    background-color: #0c1c2c;
    color: white;
    text-align: center;
}

h1 {
    color: #f4c542;
}

#charactersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #1f2f46;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.hidden {
    display: none;
}

#detailContainer {
    margin-top: 30px;
    background: #1f2f46;
    padding: 20px;
    border-radius: 10px;
}
.btn-volver {
    display: inline-block;
    padding: 1px 2px;
    background-color: #e4e4e4;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 5px;
}
