body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #e67e22;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #e67e22;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px 0;
}

button:hover {
    background-color: #cf711c;
}

#contenedor-personajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Tarjeta del personaje */
.practice-card {
    background-color: #ffffff;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    padding: 1.5rem;
    max-width: 300px;
    transition: all 0.3s ease;
}

.practice-card:hover {
    border-color: #2a2a2a;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.practice-card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.practice-title {
    color: #e67e22;
}
