
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee5e5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #000000;
}


.top-bar {
    background-color: #ffe600;
    border-bottom: 3px solid #f3ef088f;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar h1 {
    margin: 0;
    color: #443e3eb6;
    font-size: 25px;
}


.search-box {
    display: flex;
    gap: 10px;
}

.search-box input {
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 30px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box input:focus {
    border-color: #636262;
    box-shadow: 0 0 5px rgba(78, 78, 77, 0.6);
}

.search-box button {
    padding: 10px 15px;
    border-radius: 25px;
    border: 2px solid #9aaa0c31;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.search-box button:hover {
    background-color: #888a26a1;
    color: #ffffff;
    transform: scale(1.05);
}

.filters {
    padding: 15px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.filters select {
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
}

main {
    padding: 20px;
}

table {
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

thead {
    background-color: #ffe600;
}

th {
    padding: 12px;
    color: #443e3eb6;
    font-size: 14px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 13px;
    color: #424242;
}

tr:hover {
    background-color: #f9f9f9;
}


table img {
    width: 60px;
    height: 40px;
    object-fit: contain;
}

td button {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
    transition: all 0.3s ease;
    background-color: #ffffff;
}

td button:hover {
    background-color: #ffe600;
    transform: scale(1.05);
}


.pagination {
    margin: 20px;
}

.pagination button {
    padding: 8px 15px;
    border-radius: 20px;
    border: 2px solid #9aaa0c31;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.pagination button:hover {
    background-color: #888a26a1;
    color: #ffffff;
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    width: 300px;
}

.modal-content h3 {
    margin-top: 0;
    color: #424242;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.modal-content button {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid #9aaa0c31;
    background-color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.modal-content button:hover {
    background-color: #888a26a1;
    color: #ffffff;
}
