body {
    font-family: Arial, sans-serif;
    background-color: #f3e1d6;
    padding: 20px;
}

h1 {
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8a5c39;
    color: white;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 {
    margin-top: 0;
    color: #48301d;
}

.card p {
    font-size: 14px;
}

.precio {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #48301d;
}

.card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}